name: CI
on:
  push:
    branches:
      - 'master'
    paths-ignore:
      - '.gitignore'
      - '**.md'
      - 'benchmark/**'
  pull_request:
    paths-ignore:
      - '.gitignore'
      - '**.md'
      - 'benchmark/**'
jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        os: ['ubuntu-latest']
        ruby: ['head', '3.1', '3.0', '2.7']
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v5
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle exec rake test
